@import "tailwindcss";


@font-face {
  font-family: "Fira Code";
  src: url("/src/assets/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Fira Code";
  src: url("/src/assets/fonts/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Fira Code";
  src: url("/src/assets/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}

body {
  background-color: #010c15;
  font-family: "Fira Code", monospace;
  /* overflow-y: auto; */
}

.heading {
  font-family: "Fira Code", monospace;
  font-weight: 400; /* Bold */
}

.greetings {
  font-weight: 400; /* Regular */
}

.code-snippet {
  font-family: "Fira Code", monospace;
  font-weight: 500; /* Bold */
}


.github-link {
  font-family: "Fira Code", monospace;
  font-weight: 500; /* Bold */
}

.work-title {
  font-family: "Fira Code", monospace;
  font-weight: 500; /* Bold */
}

.snakeGame {
  background: linear-gradient(180deg, #22786b 10%, #0c363d 90%);
}

@keyframes blink {
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 0.8s infinite;
  color : #94B6B2
}

/* Global Styling */

::-webkit-scrollbar {
  width: 13px; 
}

::-webkit-scrollbar-track {
  border: 2px solid #1a518b;
  
}

::-webkit-scrollbar-thumb {
  background: #607B96; 
  height: 2px;
}


/* Hero Section -- snake game */

@media only screen and (max-width: 1534px) {
  .snake-game-main{
    width: 450px !important;
    height: 458px;
    padding: 25px;
  }
  .game-screen{
    /* width: 190px; */
    /* height: 330px; */
  }
  .snake-game-btn{
    margin-bottom: 10px;
  }
  .snake-game-keyboard{
    width: 160px;
    right: 13px;
  }
  .snake-game-keyboard p{
    font-size: 11px;
  }
  .snake-game-arrows{
    width: 40px;
    height: 30px;
  }
  .snake-game-food{
    bottom: 120px;
    right: 60px;
  }
  .snake-game-food p{
    font-size: 12px;
  }
  .snake-game-food-balls{
    gap: 20px;
  }
  .snake-game-skip-btn{
    padding: 6px 15px;
    font-size: 12px;
  }
  .heading{
    font-size: 40px !important;
  }
}
